body {
    background: ghostwhite url("../../assets/images/back.png") fixed;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notice-success {
    width: 33%;
    background: #67b11c url("../../assets/images/tick.png")10px 10px no-repeat;
    background-size: 30px 30px;
    border: 2px solid #467813;
    border-radius: 5px;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px 20px 15px 50px;
}