html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    font-size: 14px;
}

body {
    line-height: 20px;
}

.special {
    font-style: italic;
}

.reaper {
    font-variant: small-caps;
}