body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #fff;
}

p {
    font-size: 14px;
}

.orange {
    color: darkorange;
}

.blue {
    color: darkblue;
}

.header {
    font-weight: normal;
    font-size: 40px;
}