body,
p {
    margin: 5px;
}
h1 {
    margin-top: 5px;
}

/* unvisited link */
a:link {
    color: dodgerblue;
}

/* visited link */
a:visited {
    color: rebeccapurple;
}

/* mouse over link */
a:hover {
    color: deepskyblue;
}

/* selected link */
a:active {
    color:blue;
}