*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#slider {
    width: 100%;
    margin: 0;
    padding: 0;
}

.article {
    float: left;
    display: block;
    width: 33%;
    padding: 5px;
}

footer {
    clear: both;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

img {
    width: 100%;
}

.group li {
    float: left;
    display: inline-block;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

small {
    font-size: 12px;
}

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}