.awesome {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 48px;
    overflow-wrap: normal;
    width: 160px;
    padding-left: 5px;
    border: 2px solid black;
    margin: 5px;

    float: left;
    position: absolute;
    left: 250px;
    top: 200px;
    z-index: 1000;
}