img {
    float: left;
    margin: 5px;
}

body {
    font-family: sans-serif;
    background-color: darkgrey;
}

header {
    font-size: 24px;
    background-color: aliceblue;
}

section {
    float: left;
    margin: 0 1%;
    width: 30%;
}

footer {
    background-color: floralwhite;
    clear: left;
}

#red {
    background-color: pink;
}

#green {
    background-color: aquamarine;
}

#blue {
    background-color: lightsteelblue;
}